{{product.title}}
{{product.image}}
{{product.description}}
{{product.cost}}

<button {{action "addToCart" product}}>Add to Cart</button>
<button {{action "removeFromCart" product}}>Remove from Cart</button>
